* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body {
    color: rgb(67, 67, 67);
    background-color: #FAFAFA;
    font-size: 18px;
}

ul {
    list-style: disc;
}

h1,
h2 {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.sage-bg {
    color: #333333;
    background-color: #87A96B;
    padding: 8px;
    margin: 24px 16px;
    border: 4px solid #C65D00;
}

.headimage {
text-align: center;
}
